.nav {
  text-align: center;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  text-align: center;
  color: inherit;
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}

.container {
  min-height: 500px;
}

.row {
  justify-content: center;
  margin: 20px auto;
}
